body {
  background-image: url('PS4Pics/Playstation-4-Logo-24.jpg');
  width: 100%;
  height: 100%;
  background-attachment: fixed;

}

.content {
  background-position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}


}
$('.target').blurjs({
	source: 'body',
	radius: 7,
	overlay: 'rgba(255,255,255,0.4)'
});
ul{
	text-align: center;
	padding-left: 0px;
}
li{
	display: inline-block;
	padding: 10px;
	background-color: rgba(0,0,000000,0.6);
}
p {
	text-align: center;
    color: white;
	font-weight: bold;
	font-size: 200%;
  }
h1 {
	text-align: center;
	font-size: 500%;
	color: white;
	font-weight: bold;
}
h2 {
 	text-align: center;
 	font-size: 300%;
 	color: white;
}
h3 {
	font-size: 150%;
	color: white;
	text-align: center;
}
#container{
	width: 50%;
	float: left;
	margin-left: 25px;
	color: red;
	font-weight: bold;
}
#container2{
	width: 50%;
	float: right;
	margin-right: 50px;
	color: white;
	text-align: center;
}
.container-shadow-dark {
  box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  border-collapse:separate;
}
div.header{
font-size: 200%;
text-align: center;
color: white;
}
li:hover{
	background-color:rgba(0,0,000000,0.9);
}
.left; ul:hover{
	background-color:rgba(0,0,000000,0.8);
}
a:link{
	background-color:rgba(0,0,000000,0.4);	
	font-size: 30px;
	text-decoration: none;
 	color: white;
}
a:visited{
	color: white;	
}
b:link{
	font-size: 25px;
	color: white;
}
div.footer{
	text-align: center;
	border-top: 1px black solid;
}
#content{
	overflow:auto;
	margin-left:25%;
	margin-right: 25%;
	padding-top: 25px;
	float: left;
}
span{
	text-align: center;
	font-size: 25px;
}
#gallery{
width:550px;
margin-bottom: 25px;
float-left: 50px;
}
.titles{
clear: both;
font-family: Sans-Serif, Arial, Helvetica;
font-size: 200%;
color: red;
margin-left: 25px;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mePics {
float: left;
margin-left: 25px;
margin-bottom: 25px;
}
.myImg{ 
border-top: 5px black solid;
border-left: 5px black solid;
border-right: 5px black solid;
}
.myPics {
float: right;
margin-right: 25px;
margin-bottom: 25px;
}
.meImg{ 
border-top: 5px black solid;
border-left: 5px black solid;
border-right: 5px black solid;
}
.myName{
background-color: none;
text-align: center;
height: 20px;
color: #FFFFFF;
border-bottom: 5px black solid;
border-right: 5px black solid;
border-left: 5px black solid;
font-family: Sans-Serif, Arial, Helvetica;
font-weight: bold;
box-sizing: border-box;
}
.Name{
	background-color: none;
text-align: center;
height: 20px;
color: #FFFFFF;
font-family: Sans-Serif, Arial, Helvetica;
font-weight: bold;
box-sizing: border-box;
}
.fig
{
      text-align:center;
      position: center;
      margin-left:50px;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      margin-right: 20px;
      padding-bottom: 20px;
}
div.left
{
float:left;
width: 25%;
padding-left: 23%;
padding-right: 25px;
border-right: 1px black solid;
}
div.right
{
float: left;
margin-left: 25px;
}
#sexy
{
	border-top: 1px black solid;
}
